/**
 * Created by Pompo on 27.06.2017.
 */

.label{
  font-weight: 300;
  display: block;
  margin-bottom: .5em;
  padding-left: .5em;
}

.input{
  width: 100%;
  background-color: rgba(255,255,255,.8);
  transition: background-color ease .3s;
  height: 2.5rem;
  border: none;
  padding: .5em;
  font-size: 1rem;
  border-radius: 6px;

  &:focus{
    background-color: $white;
  }
}

.textarea{
  @extend .input;
  height: auto;
  resize: none;
}

//upload files
.upload{
  border: 1px dashed #fff;
  text-align: center;
  letter-spacing: 1.9px;
  padding: 20px 40px;
  line-height: 1.5;

  &_sec{
    border: 1px dashed #ccc;
  }

  &.focus{
    border: 1px solid #ff8562;
  }

  &__txt{
    color: #fff;
    font-size: 12px;

    @at-root .upload_sec &{
      color: #333;
    }
  }

  &__lbl{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;

    &.is-hide{
      display: none;
      visibility: hidden;
    }
  }

  &__inp{
    display: none;
    visibility: hidden;
  }
}

.file-name{
  padding-bottom: .5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 11px;

  @at-root .upload_sec &{
    color: #333;
  }
}
