//form
.form{
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 12px;
    color: $white;
    padding: 20px;

    &__row{
        margin-bottom: .85rem;

        &:last-of-type{
            margin: 0 auto;
        }
    }

    &__notes{
        font-size: 12px;
        color: $black;
        line-height: 1.25;

        &_white {
            color: $white;
        }
    }

    &__btn{
        background-color: rgba(255,255,255,.8);
        transition: all linear .3s;
        cursor: pointer;
        border-radius: 6px;
        width: 220px;
        height: 3rem;
        text-align: center;
        line-height: 3rem;
        text-transform: uppercase;
        border: none;
        position: relative;
        margin: 0 auto;
        font-weight: 500;
        font-size: 1.25em;
        display: block;

        &:hover{
            background-color: #ffffff;
        }

        &:active{
            top: 1px;
        }
    }
}
