.smetchik{
    margin-bottom: 3rem;

    &:last-of-type{
        margin-bottom: 0;
    }

    &__img{
        max-width: 100%;
        border: .5rem solid #f6f6f6;
        box-shadow: 0 2px 8px rgba(#000, .15);
        border-radius: 12px;
    }

    &__txt{
        font-size: 1.1rem;
        font-weight: 500;
        margin-top: 1em;
        text-align: center;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 1rem;

        & li{
            & a{
                color: $accent;
                text-decoration: underline;
            }
        }
    }
}
