/**
 * Created by Pompo on 27.06.2017.
 */
.hero{
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 6em 0;

  @include respondTo(tablet){
    padding-top: 0;
  }

  &__bg{
    background: url('../img/bg_hero.png') no-repeat scroll 50% 50% / cover;
    height: 100%;
    width: 100%;
    animation: hero 35s linear infinite;
    position: absolute;
    top:0;
    left: 0;

    &_ref {
      background: url('../img/hero-bg_reference.jpg') no-repeat scroll 50% 50% / cover;
    }
  }

  &__title{
    font-weight: 500;
    font-size: 3rem;
    color: $white;
    text-align: center;
    padding: .85em 0 .5em;

    @include respondTo(desktop){
      font-size: 2rem;
    }

    @include respondTo(small){
      font-size: 1.5rem;
    }

  }

  &__txt{
    text-align: center;
    color: $white;
    font-size: 1.35rem;
    line-height: 1.5;
    padding-bottom: 1.5em;

    @include respondTo(desktop){
      font-size: 1.25rem;
    }

    @include respondTo(small){
      font-size: 1rem;
    }
  }

  &__form{
    max-width: 340px;
    margin: 0 auto;
  }

  &_ref {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    padding-bottom: 3rem;

      @include respondTo(tablet){
          flex-direction: column;
      }

    & .hero__title {
      font-size: 4rem;

        @include respondTo(tablet){
            font-size: 2.5rem;
        }
    }

    & .hero__txt {
      font-size: 1.75rem;
      padding-bottom: 0;

        @include respondTo(tablet){
            font-size: 1.2rem;
        }
    }
  }

  & .c-wrap{
    position: relative;
    height: 100%;
  }

}

@keyframes hero {
  0%{
    transform: scale(1);
  }

  50%{
    transform: scale(1.5);
  }

  100%{
    transform: scale(1);
  }

}
